@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PoetsenOne-Regular';
  src: url('/PoetsenOne-Regular.ttf') format('truetype');
  /* Si vous avez d'autres formats, ajoutez-les ici */
  font-weight: normal;
  font-style: normal;
}


body {
  background-color: black;
  font-family: 'PoetsenOne-Regular', serif;
}

main {
  font-family:'PoetsenOne-Regular', sans-serif;
}

/*
.bg-seemless {
  background-image: url("./../../public/pleats-denim.jpg");
  background-repeat: repeat;
  background-size:23.3vmax;
  background-position: 0 0;
  animation: moveLeft 10s linear infinite;
}*/

.font-poet {
  font-family: 'PoetsenOne-Regular', sans-serif; /* Assurez-vous de mettre une police de secours */
}

@keyframes moveLeft {
  from {
    background-position: 0 0; /* Position initiale */
  }
  to {
    background-position: -100% 0; /* Déplacement vers la gauche */
  }
}
